@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Mukta:wght@300&display=swap');
/* font-family: 'Mukta', sans-serif; 
    font-family: 'Dosis';
*/
/* 電腦與平板上應用的樣式 */
*{
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 237, 237);
    margin: 0px;
    font-size: 14px;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.logo{
    width: 100px;
    height: 50px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-family: "Mukta", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}
.navbar{
    height: 100%;
}
.menu-icon{
    width: 100px;
    height: 50px;
    background-color: salmon;
    display: none;
    justify-content: center;
    align-items: center;
}
.navbar>ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.navbar>ul>li{
    width: 100%;
    height: 100%;
    background-color: lightsalmon;
    display: flex;
    padding: 10px;
    text-align: center;
}

.navbar>ul>li>a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta',sans-serif;
    font-size: 16px;
}

#About{
  display: flex;
  justify-content: center;
  background-color: lightpink;

}

.container{
  padding: 25px;

}

#About > .container{
  width: 80%;
  max-width: 1140px;
  height: 30rem;
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  gap: 25px;
}

.my-photo, .intro{
  width: 50%;
  height: 100%;
  display: flex;
  background-color: lightgreen;
}

#Skill{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(61, 242, 248);

}

#Skill > .container{
  width: 80%;
  /* max-width: 1140px; */
  height: 30rem;
  /* background-color: rgb(243, 214, 214); */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.skill-list{
  width: 25%;
  height: auto;
  background-color: blueviolet;
}

#gallery{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7c7c7;
}

#gallery >ul{
  list-style: none;
  padding: 0; 
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.photos{
  width: 30%;
  min-width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}



/* 手機 */
@media screen and (max-width: 500px) {
    .header{
        height: fit-content;
        flex-wrap: wrap;
        align-items: stretch;
        /* justify-content: stretch; */
    }

    .navbar{
      width: 100%;
    }
    .navbar > ul{
      flex-wrap: wrap;
    }

    .navbar >ul >li{
      border-bottom: 1px solid gray;
    }
    .navbar > ul > li>a{
      color: white;
    }
    .container{
      flex-direction: column;
      align-items: center;
    }
    .menu-icon{
        display: block;
    }

    .skill-list{
      width: 80%;
      height: 33.33%;
      background-color: blueviolet;
    }
    .photos{
      width: 80%;
      min-width: none;
}
}